<%= simple_form_for(User.new, url: user_session_path) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                error: 'Incorrect login information',
                label_html: {class: "login-name-input"},
                input_html:{class: "login-input-number"}
                 %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                label_html: {class: "login-name-input"},
                input_html:{class: "login-input-number"}
                %>
    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn login-bouton' %>
    </div>
    <p>No account yet : <%= link_to 'sign up', new_user_registration_path %></p>
  </div>
<% end %>
