<%= simple_form_for([product, alert], remote: true) do |f| %>
  <%= f.input :target_price, label: 'What is your budget?', required: true, error: 'Please specify your target price', label_html:{class: "alert-name-input"}, input_html:{class: "alert-input-number"} %>
  <div class="flex-alert">
    <%= f.input :by_email, label: ' by email', as: :boolean, boolean_style: :inline, label_html:{class: "checkbox-space"}  %>
    <%= f.input :by_text_message, label: ' by sms', as: :boolean, boolean_style: :inline, label_html:{class: "checkbox-space"} %>
  </div>
  <%= f.submit "SAVE", class: "btn submit-booking" %>
<% end %>

