<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "My alerts", alerts_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete, data: { :confirm => "Are you sure?"}, class: "navbar-wagon-item navbar-wagon-link" %>

    <% else %>

      <!-- Login link (when logged out) -->

      <%= link_to "Login", '#', class: "navbar-wagon-item navbar-wagon-link", data: {target: '#sign-in-modal', toggle: 'modal'} %>
    <% end %>
  </div>

 <!-- Button trigger modal -->
</div>

<!-- Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login form</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/form-sign-in' %>
      </div>
    </div>
  </div>
</div>


