<svg class="navbar-bckgrnd" viewBox="0 0 1440 182" style="position: fixed;" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H1440V108L749.5 160L0 182V0Z" style="position: fixed;" fill="url(#paint0_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="9.00006" y1="108" x2="79.1478" y2="-259.651" gradientUnits="userSpaceOnUse">
<stop stop-color="#3C82FF"/>
<stop offset="1" stop-color="#3AEBBA"/>
</linearGradient>
</defs>
</svg>


<div class="contient">
  <div class="card-space-top"></div>
    <% if @user_alerts.nil? %>
    <% else %>
      <div class="inbox">
        <h1 class="title_success">Successfull alerts: <strong>ready to buy</strong></h1>
        <div class="box-target-atteint">
          <% @user_alerts.each do |alert| %>
          <% current_price = alert.lowest_price.price %>
            <% if alert.alert_reach %>
              <div class="card-index">
                <div class="card-body card-body-sucess">
                  <div class="product-banner-card">
                    <%= image_tag alert.product.photo, width: "220px", height: "220px" %>
                  </div>

                  <div class="alert-avatar">
                    <h3><%= alert.product.name %></h3>
                  </div>
                  <div class="graph-prix">
                    <% if alert.lowest_prices.blank? %>
                      <div class="faux-graph"></div>
                    <% else %>
                      <canvas class="alert-chart" width="300" height="150" data-lowest-prices="<%= alert.lowest_prices.order(:created_at).limit(7).map { |lowest_price| lowest_price.price.price }.to_json %>"></canvas>
                    <% end %>
                    <%= render 'shared/label_alert_graph'%>
                  </div>
                  <div class="alert-link">
                    <%= link_to alert_path(alert),
                        method: :delete,
                        data: { confirm: "Do you want to stop hunting this product?" } do %>
                    <div class="flex-not">
                      <div><i class="fas fa-trash-alt button-delete"></i></div>
                    </div>
                  <% end %>
                  </div>
                  <div class="box-price">
                    <div class="lastprice-alert">
                      <h6>Target price:</h6>
                      <h4><%= alert.target_price.round %> €</h4>
                    </div>
                    <div class="cadrer-buy">
                      <div class="lastprice-alert middleman">
                        <h5>Current price: <%= current_price.round  %> €</h5>
                      </div>
                      <div class="buy-btn text-right">
                        <%= link_to '<i class="fas fa-shopping-cart"></i> BUY NOW'.html_safe, product_path(alert.product.denich_id), class: "btn btn-set-alert" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <br>
        <br>
        <h1 class="title_pending">Peding alerts: <strong>still on the hunt</strong></h1>
      <div class="box-target-price-non-atteint">
        <% @user_alerts.each do |alert| %>
        <% current_price = alert.lowest_price.price %>
          <% if alert.alert_reach == false %>
            <div class="card-index">
              <div class="card-body">

                <div class="product-banner-card">
                  <%= image_tag alert.product.photo, width: "220px", height: "220px" %>
                </div>

                <div class="alert-avatar">
                  <h3><%= alert.product.name %></h3>
                </div>
                <div class="graph-prix">
                  <% if alert.lowest_prices.blank? %>
                    <div class="faux-graph"></div>
                  <% else %>
                     <canvas class="alert-chart" width="300" height="150" data-lowest-prices="<%= alert.lowest_prices.order(:created_at).limit(7).map { |lowest_price| lowest_price.price.price }.to_json %>" data-target-price="<%= alert.target_price %>"></canvas>
                  <% end %>
              <%= render 'shared/label_alert_graph'%>
                </div>
                <div class="alert-link">
                  <%= link_to alert_path(alert),
                      method: :delete,
                      data: { confirm: "Do you want to stop hunting this product?" } do %>
                  <i class="fas fa-trash-alt button-delete"></i>
                <% end %>
                </div>
                  <div class="box-price">
                    <div class="lastprice-alert">
                      <h6>Target price:</h6>
                      <h4><%= alert.target_price.round %> €</h4>
                    </div>
                    <div class="cadrer-buy">
                      <div class="lastprice-alert middleman">
                        <h5>Current price: <%= current_price.round  %> €</h5>
                      </div>
                      <div class="buy-btn text-right">
                        <%= link_to 'SEE ALL PRICES'.html_safe, product_path(alert.product.denich_id), class: "btn btn-set-alert btn-alert-no-target" %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

