<svg class="navbar-bckgrnd" viewBox="0 0 1440 182" style="position: fixed;" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H1440V108L749.5 160L0 182V0Z" style="position: fixed;" fill="url(#paint0_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="9.00006" y1="108" x2="79.1478" y2="-259.651" gradientUnits="userSpaceOnUse">
<stop stop-color="#3C82FF"/>
<stop offset="1" stop-color="#3AEBBA"/>
</linearGradient>
</defs>
</svg>


<div class="container">
  <div class="card-space-top">
    <% if @user_alerts.nil? %>
    <% else %>
      <div class="inbox">
        <ul>
        <% list_alert = @user_alerts.sort{ |alert| alert.lowest_price.price.to_i <=> alert.target_price.to_i } %>
        <% list_alert.each do |alert| %>
          <% if alert.lowest_price.nil? %>
            <% current_price = alert.product.description.to_i %>
          <% else %>
            <% current_price = alert.lowest_price.price.to_i %>
          <% end %>
          <% if alert.target_price > current_price %>
          <li>
            <div class="col-xs-12 col-md-6">
              <div class="card-index">
                <div class="card-body card-body-sucess">

                  <div class="alert-link">
                    <%= link_to image_tag("delete.png", height:"40px"), alert_path(alert),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
                  </div>
                  <div class="product-banner-card">
                    <%= image_tag alert.product.photo, width: "180px", height: "180px" %>
                  </div>

                  <div class="alert-avatar">
                    <h3><%= alert.product.name %></h3>
                  </div>
                  <div class="graph-prix">
                    <% if alert.lowest_prices.blank? %>
                      <div class="faux-graph"></div>
                    <% else %>
                      <canvas class="alert-chart" width="300" height="150" data-lowest-prices="<%= alert.lowest_prices.order(:created_at).limit(7).map { |lowest_price| lowest_price.price.price }.to_json %>"></canvas>
                    <% end %>
                  </div>
                  <div class="box-price">
                    <div class="lastprice-alert target-success">
                      <h5>Current price:</h5>
                      <h4><%= current_price.round %> €</h4>
                    </div>
                    <div class="buy-btn text-right">
                      <%= link_to '<i class="fas fa-shopping-cart"></i> BUY NOW'.html_safe, product_path(alert.product.denich_id), class: "btn btn-set-alert" %>
                    </div>
                  </div>
                </div>
              <% else %>
                <canvas class="alert-chart" width="300" height="150" data-lowest-prices="<%= alert.lowest_prices.order(:created_at).limit(7).map { |lowest_price| lowest_price.price.price }.to_json %>" data-target-price="<%= alert.target_price %>"></canvas>
              <% end %>
              </div>
            </div>
          </li>

          <% else %>
          <li>
            <div class="col-xs-12 col-md-6">
              <div class="card-index">
                <div class="card-body">

                  <div class="alert-link">
                    <%= link_to image_tag("delete.png", height:"40px"), alert_path(alert),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
                  </div>
                  <div class="product-banner-card">
                    <%= image_tag alert.product.photo, width: "180px", height: "180px" %>
                  </div>

                  <div class="alert-avatar">
                    <h3><%= alert.product.name %></h3>
                  </div>
                  <div class="graph-prix">
                    <% if alert.lowest_prices.blank? %>
                      <div class="faux-graph"></div>
                    <% else %>
                       <canvas class="alert-chart" width="300" height="150" data-lowest-prices="<%= alert.lowest_prices.order(:created_at).limit(7).map { |lowest_price| lowest_price.price.price }.to_json %>" data-target-price="<%= alert.target_price %>"></canvas>
                    <% end %>
                  </div>
                  <div class="box-price">
                    <div class="lastprice-alert">
                      <h5>Current price:</h5>
                      <h4><%= current_price.round %> €</h4>
                    </div>
                    <div class="buy-btn text-right">
                      <%= link_to 'SEE ALL PRICES'.html_safe, product_path(alert.product.denich_id), class: "btn btn-set-alert" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>


