<div class="container">
  <h1>Your alerts</h1>
  <div class="tabs">
    <a href="#" class="tab-active">Current alerts</a>
    <a href="#" class="tab">Past alerts</a>
  </div>
  <ul>
    <div class="inbox">
      <% @user_alerts.each do |alert| %>
      <li class="message">
          <div class="alert-image">
            <%= image_tag alert.product.photo, crop: :fill, class: 'icon' %>
          </div>
          <div class="alert-product">
          <p>Product: <%= alert.product.name %> </p>
          </div>


        <div class="alert-price">
         <p>Target price: €<%= alert.target_price.to_i %> </p>
         <p>Current price €<%= alert.product.description.to_i %></p>
         <% target_price = alert.target_price %>
         <% current_price = alert.product.description %>
         <% difference = (current_price.to_i - target_price.to_i).to_i %>
         <p>Difference €<%= difference %></p>
        </div>

          <div class="alert-communication">
            <p>Contact me by:</p>
            <ul>
              <% if alert.by_email %>
                <li><i class="fas fa-at"></i></li>
              <% end %>
              <% if alert.by_text_message %>
                <li><i class="fas fa-sms"></i></li>
              <% end %>
            </ul>
          </div>
        <div class="alert-link">
          <%= link_to 'More details', alert_path(alert), class:"btn btn-success no-decoration see-detail" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

