<div class="container container-alerts">
  <div class="my-alerts">
    <h1>Your Alerts:</h1>
  </div>
    <div class="inbox">
      <% count = 0 %>
  <ul>
      <% @user_alerts.each do |alert| %>
      <li>
      <div class="col-xs-12 col-md-6">
        <div class="card-index">
          <div class="card-body">
            <div class="back-white">
              <%= image_tag "back-white.svg", alt: "white-back", class:"back-white-picture" %>
              <div class="alert-link">
                <%= link_to 'More details', alert_path(alert), class:"btn btn-success no-decoration see-detail alert-link-format" %>
                <%= link_to 'Edit', alert_path(alert), class:"btn btn-success no-decoration see-detail alert-link-format" %>
                <%= link_to "Delete", alert_path(alert), class:"btn btn-success no-decoration see-detail alert-link-format",
                method: :delete %>
              </div>

              <div class="alert-number">
                <% count += 1 %>
                <p><%= count %></p>
              </div>
              <div class="alert-avatar">
                <p><%= alert.product.name %></p>
                <br>
                <%= image_tag alert.product.photo, :crop=>"thumb" %>
              </div>
                <div class="card-header">
                  <div class="alert-price">
                   <p>Target price </p>
                   <p class="price-font">€<%= alert.target_price.to_i %> </p>
                   <br>
                   <p>Current price </p>
                   <p class="price-font">€<%= alert.product.description.to_i %></p>
                   <br>
                   <% target_price = alert.target_price %>
                   <% current_price = alert.product.description %>
                   <% difference = (current_price.to_i - target_price.to_i).to_i %>
                   <p>Difference </p>
                   <p class="price-font">€<%= difference %></p>

                 </div>
               </div>
                <br>
               <div class="alert-communication">
                <ul>
                  <% if alert.by_email %>
                  <li><i class="fas fa-at"></i></li>
                  <% end %>
                  <% if alert.by_text_message %>
                  <li><i class="fas fa-sms"></i></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



