<div class="container_results">
  <div class="container">
    <div class="row">
      <ul>
        <% @results.each do |result| %>
        <%= link_to product_path(result[:id]) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="result_product">
            <li>
              <div class="result_name">
                <p> <%= result[:name] %></p>
              </div>

              <div class="result_picture">
                <%= image_tag "https://cdn.pji.nu/product/standard/140/#{result[:id]}.jpg", alt: "alttext" %>
              </div>

              <div class="result_price">
                <p>Price: €<%= result[:price][:regular] %></p>
              </div>

              <div class="result_category">
                <p>Category : <%= result[:category][:name] %> </p>
              </div>
            </li>
          </div>
          <% end %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>

