
<svg class="navbar-bckgrnd" viewBox="0 0 1440 182" style="position: fixed;" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H1440V108L749.5 160L0 182V0Z" style="position: fixed;" fill="url(#paint0_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="9.00006" y1="108" x2="79.1478" y2="-259.651" gradientUnits="userSpaceOnUse">
<stop stop-color="#3C82FF"/>
<stop offset="1" stop-color="#3AEBBA"/>
</linearGradient>
</defs>
</svg>

<div class="prend-place"></div>

<!-- Modal alert -->
<div class="modal fade" id="alert-creation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <h4 class="modal-title-alert" id="exampleModalLabel">Set your alert</h4>

      <div class="modal-body-alert">
        <div id="price-box">
          <%= render 'shared/form-alert-creation', alert: @alert, product: @product, class: "review-form-show" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal sign in-->
<div class="modal fade" id="sign-in-modal-first" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title" id="myModalLabel">Please log in first to set your alert</h4>
        <%= render 'shared/form-sign-in' %>
      </div>
    </div>
  </div>
</div>

<!-- show -->

  <div class="filter-prod">
    <div>
      <% css1_code = @filter ? "selected" : "" %>
      <%= link_to 'Filter by price', product_path(@product.denich_id), class: "btn btn-infos filter_price #{css1_code}" %>
    </div>
    <div>
      <% css2_code = !@filter ? "selected" : "" %>
      <%= link_to 'Filter by rating', product_path(@product.denich_id, sort_by_rating: true), class: "btn btn-infos sort_rating filter_rating #{css2_code}" %>
    </div>
  </div>

<div class="contenu">
  <div class="product-banner-wrapper">
    <div class="product-banner">
      <div class="inside-banner">
        <div class="product-desc">
          <h4><%= @product.name %></h4>
        </div>
        <div class="p-photo">
          <img src="<%= @product.photo %>" alt="" height="280" width="280">
        </div>
            <!-- Button trigger modal -->
        <div class="bottom-prod">
          <% if user_signed_in? %>
            <button type="button" class='btn btn-set-alert' data-toggle="modal" data-target="#alert-creation"><i class="fas fa-bell"></i> Set an alert</button>
          <% else %>
            <button type="button" class='btn btn-set-alert' data-toggle="modal" data-target="#sign-in-modal-first"><i class="fas fa-bell"></i> Set an alert</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class ="left-list">

    <div class="my-row">
      <% nb_of_offers = @offers.count %>
      <div class="offers_first">
        <div class="">
          <img src="<%= @offers.first.retailer.logo %>" alt="">
        </div>
        <div class="">
          <% @offers.first.retailer.rating.floor.times do %>
            <i class="fas fa-star gold"></i>
          <% end %>
          <% (5 - @offers.first.retailer.rating.floor).times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <div class="price-shopping">
          <%= @offers.first.prices.last.price %>€
        </div>
        <div class="go-shopping-first">
          <a href=<%= @offers.first.prices.last.url %> target="_blank", class="button button-shopping first-button hunt-link"><i class="fas fa-arrow-circle-right link-shopping"></i>Hunt</a>
        </div>
      </div>
      <% @offers[1..nb_of_offers].each do |offer| %>

        <div class="offers">
          <div class="logo-pic">
            <img src="<%= offer.retailer.logo %>" alt="">
          </div>
          <div class="">
            <% offer.retailer.rating.floor.times do %>
              <i class="fas fa-star gold"></i>
            <% end %>
            <% (5 - offer.retailer.rating.floor).times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <div class="price-shopping">
            <%= offer.prices.last.price %>€
          </div>
          <div class="go-shopping">
            <a href=<%= @offers.first.prices.last.url %> target="_blank", class="button button-shopping hunt-link">Hunt</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
