<h1>test</h1>
<!-- show -->

<div class="product-banner">
  <div class="product-photo">

  </div>
  <div class="product-desc">
    <%= @product.name %>
    <%= @product.description %>
  </div>
  <!-- Button trigger modal -->
  <div>
    <button type="button" class='btn btn-primary btn-set-alert' data-toggle="modal" data-target="#alert-creation">Set an alert</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alert-creation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please set your Price Alert below</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        What is your Target Price?
        <div id="price-box">
          <%= render 'shared/form-alert-creation', alert: @alert, product: @product, class: "review-form-show" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- show -->

<div class="product-banner">
  <div class="product-photo">
    <img src="https://picsum.photos/120/100" alt="">
  </div>
  <div class="product-desc">
    <%= @product.name %>
    <%= @product.description %>
  </div>
  <div>
    <button class='btn btn-primary btn-set-alert'>Set an alert</button>
  </div>
</div>

<div class="container">
  <% @offers.each do |offer| %>
    <div class="offers">
      <img src="https://picsum.photos/40/40" alt="" class="logo">

      <div>
        <% offer.retailer.rating.floor.times do %>
          <i class="fas fa-star gold"></i>
        <% end %>
                <% (5 - offer.retailer.rating.floor).times do %>
          <i class="fas fa-star white"></i>
        <% end %>
      </div>
      <div><%= offer.prices.last %>€</div>
      <div><button class='btn btn-primary'>>Buy</button></div>
    </div>
  <% end %>
</div>
