

<!-- Modal alert -->
<div class="modal fade" id="alert-creation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Please set your Price Alert below</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        What is your Target Price?
        <div id="price-box">
          <%= render 'shared/form-alert-creation', alert: @alert, product: @product, class: "review-form-show" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal sign in-->
<div class="modal fade" id="sign-in-modal-first" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Oups, you are not logged in, please log in first to set your alert</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/form-sign-in' %>
      </div>
    </div>
  </div>
</div>

<!-- show -->

<div class="contenu">
  <div class="filter-prod">
    <div>
      <% css1_code = @filter ? "selected" : "" %>
      <%= link_to 'Filter by price', product_path(@product, sort_by_price:'yes'), class: "btn btn-primary filter_price #{css1_code}" %>
    </div>
    <div>
      <% css2_code = !@filter ? "selected" : "" %>
      <%= link_to 'Filter by rating', product_path(@product), class: "btn btn-primary sort_rating filter_rating #{css2_code}" %>
    </div>
  </div>
  <div class="product-banner">
    <div class="column">
      <div class="category">
        <p><em>Category:</em> <%= @product.category.name %></p>
      </div>
      <div class="product-desc">
        <h4><%= @product.name %></h4>
      </div>
      <div class="product-photo">
        <img src="<%= @product.photo %>" alt="" height="180" width="180">
      </div>
          <!-- Button trigger modal -->
      <div class="bottom-prod">
        <p>Not satisfied with these offers?</p>
          <% if user_signed_in? %>
            <button type="button" class='btn btn-primary btn-set-alert' data-toggle="modal" data-target="#alert-creation"><i class="fas fa-bell"></i> Set an alert</button>
          <% else %>
            <button type="button" class='btn btn-primary btn-set-alert' data-toggle="modal" data-target="#sign-in-modal-first"><i class="fas fa-bell"></i> Set an alert</button>
          <% end %>
      </div>
    </div>
  </div>
  <div class ="container left-list">
    <div class="my-row">
      <% @offers.each do |offer| %>
        <div class="offers">
          <div class="">
            <img src="<%= offer.retailer.logo %>" alt="">
          </div>
          <div>
            <% offer.retailer.rating.floor.times do %>
              <i class="fas fa-star gold"></i>
            <% end %>
            <% (5 - offer.retailer.rating.floor).times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <div>
            <%= offer.prices.last.price %>€
          </div>
          <div>
            <a href=<%= offer.prices.last.url %> target="_blank">See this offer</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
